body {
    background: transparent;
}

.b1{
    transition-duration : 1s;
    background : rgba(124, 114, 114, 0.5);
    border-radius : 10px;
    margin-bottom : 10px;
    color : white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 25px;
    border : none;
}

.b1:hover{
    transition-duration: 1s;
    background-color:rgba(0,0,0,0.5);
    border-radius : 10px;
}

input{
    background-color:rgba(0,0,0,0.3);
    color : white;
    margin-left : 20px;
    border-radius : 20px;
    border : none;
}

b{
    color : white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 20px;
}