body {
    background: linear-gradient(90deg, rgb(0, 44, 102) 0%, rgb(0, 172, 203) 100%); 
}

.b1{
    border: none;
    background : transparent;
    color : white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 25px;
}

.b1:hover{
    transition: 1s;
    background-color:rgba(0,0,0,0.3);
    border-radius : 10px;
}

input{
    background-color:rgba(0,0,0,0.3);
    color : white;
    margin-left : 20px;
    border-radius : 20px;
    border : none;
}

b{
    color : white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 20px;
}