.map{
    text-align : center;
    align-self: center;
    height : 40vw;
}
@media only screen and (max-width: 480px) {
    .map {
        height: 100vw;
    }
}

@media only screen and (max-width: 480px) {
    .map {
      height: 130vw;
    }
}

.mp{
    text-align: center;
}
body{
    background: linear-gradient(90deg, rgb(0, 44, 102) 0%, rgb(0, 172, 203) 100%);
}