.map{
    text-align : center;
    align-self: center;
    height : 40vw;
}
@media only screen and (max-width: 480px) {
    .map {
        height: 100vw;
    }
}

@media only screen and (max-width: 480px) {
    .map {
      height: 130vw;
    }
}

.mp{
    text-align: center;
}
body{
    background: linear-gradient(90deg, rgb(0, 44, 102) 0%, rgb(0, 172, 203) 100%);
}
#dropdown_background{
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#dropdown{
    display: block;
    position: inherit;
    left: 30%;
    top: 25%;
    z-index: 3;
    padding: 10;
    width: 30%;
    height: 50%;
    background: linear-gradient(180deg, rgb(0, 44, 102) 0%, rgb(0, 172, 203) 100%); 
}
#dropdown_text{
    position: absolute;
    color: white;
    top: 25%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-style : italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 1.7vw;
}
#input{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 13%;
    text-align: center;
    font-size: 1.4vw;
    background-color: rgb(0, 98, 202);
    color: white;
    border-radius: 0.8vw;
}
.submit_button{
    position: absolute;
    top: 80%;
    left: 30%;
    width: 40%;
    height: 13%;
    text-align: center;
    font-size: 1.4vw;
    background-color: rgb(0, 98, 202);
    color: white;
    border-color: white;
    border-radius: 0.8vw;
}
.close_button{
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: right;
    color: red;
    background-color: transparent;
    cursor: pointer;
    font-style: bold;
    font-size : 1.7vw;
}